@font-face {
    font-family: 'montserrat_mediumregular';
    src: url('../fonts/montserrat-medium-webfont.eot');
    src: url('../fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff'),
         url('../fonts/montserrat-medium-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-medium-webfont.svg#montserrat_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin text-head {
    font: {
        family: 'montserrat-medium-webfont' ,Tahoma , Arial, sans-serif;
        size: 36px;
        weight: 500;
    }
    line-height: 1;
}
@mixin text-description{
    font: {
        size: 18px;
    }
    color: #787878;
}
a{
    text-decoration: none;
    color: #000;
}
input{
    outline: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
.wrapper{
    overflow: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font: 16px 'montserrat-medium-webfont' ,Tahoma , Arial, sans-serif;
    line-height: 24px;
}
#main-banner{
    min-height: 100vh;
    background: #f8f9f9;
}
.banner-top{
    padding: 38px 0 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-icon{
    flex-grow: 1;
    width: 30px;
    height: 26px;
    position: relative;
}
.banner-icon::after{
    content: "";
    display: block;
    width: 30px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/logo.png') no-repeat 50%;
}
.navigation > ul{
    display: flex;
    text-transform: uppercase;
}
.navigation{
    position: relative;
}
.mobile-menu {
    position: absolute;
    width: 40px;
    height: 3px;
    background: #000;
    cursor: pointer;
    margin-right: 10px;
    display: none;
    outline: none;
    top:0;
    right: 0;
}
.mobile-menu:after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    padding-top: 5px;
    border-bottom: 3px solid #000;
    width: 40px;
    height: 3px;
}
.mobile-menu:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    padding-bottom: 5px;
    border-top: 3px solid #000;
    width: 40px;
    height: 3px;
}
.inner-nav li{
    padding-right: 30px;
}
.inner-nav li:first-child a{
    color: #10c9c3;
}
.inner-nav li:last-child{
    padding: 0;
}
.banner-bottom h2{
    @include text-head;
    padding-bottom: 28px;
}
.banner-bottom{
    display: flex;
    flex-direction: row-reverse;
}
.banner-bottom>div{
    max-width: 500px;
}
.banner-bottom p{
    padding-bottom: 36px;
    @include text-description;
}
.banner-bottom a{
    display: block;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    padding: 22px 0;
    background: #10c9c3;
    text-align: center;
}
#about h2{
    padding: 100px 0 34px;
    @include text-head;
    text-align: center; 
}
#about p{
    @include text-description;
    max-width: 626px;
    text-align: center;
    padding-bottom: 34px;
}
.banner-bottom p+div{
    width: 50%;
}
#about h2 + div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signature{
    position: relative;
    height: 58px;
    margin-bottom: 100px;
}
.signature::after{
    content: "";
    display: block;
    width: 222px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url("../images/signature.png") no-repeat 50%;
}
#prof-skills{
    background: #f8f9f9;
}
#prof-skills .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_prof-skills{
    min-width: 50%;
    width: 50%;
    padding: 162px 85px 144px 0;
}
.left_prof-skills h2{
    @include text-head;
    padding-bottom: 36px;
}
.left_prof-skills p{
    @include text-description;
    color: #000;
    text-transform: uppercase;
    padding: 36px 0 18px;
    position: relative;
}
.left_prof-skills h2+p{
    padding-top: 0;
}
.left_prof-skills p::before{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background: #d8d8d8;
    bottom: 0;
    left: 0;
}
.left_prof-skills p.first-item::after{
    content: "";
    display: block;
    width: 75%;
    height: 4px;
    position: absolute;
    background: #10c9c3;
    bottom: 0;
    left: 0;
}
.left_prof-skills p.second-item::after{
    content: "";
    display: block;
    width: 90%;
    height: 4px;
    position: absolute;
    background: #10c9c3;
    bottom: 0;
    left: 0;
}
.left_prof-skills p.third-item::after{
    content: "";
    display: block;
    width: 65%;
    height: 4px;
    position: absolute;
    background: #10c9c3;
    bottom: 0;
    left: 0;
}
#info{
    background: #10c9c3;
}
#info .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#info .wrap-case{
    width: 25%;
    min-width: 25%;
    padding: 100px 0 100px 68px;
    position: relative;
}
#info p{
    @include text-description;
    color: #fff;
    text-transform: uppercase;
}
#info p:first-child{
    padding-bottom: 10px;
}
.case::before{
    content: "";
    display: block;
    width: 40px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/case.svg") no-repeat 50%;
}
.clock::before{
    content: "";
    display: block;
    width: 40px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/clock.svg") no-repeat 50%;
}
.star::before{
    content: "";
    display: block;
    width: 40px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/star.svg") no-repeat 50%;
}
.heart::before{
    content: "";
    display: block;
    width: 40px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../images/heart.svg") no-repeat 50%;
}
@media(max-width: 768px){
    .mobile-menu{
        display: block;
    }
    .inner-nav{
        display: block;
        position: absolute;
        top: 100%;
        width: 200px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        right: -500px;
        overflow-y: auto;
        height: auto;
        background: #000;
        opacity: .9;
    }
    .navigation > ul.active{
        right: 10px;
        top: 23px;
        display: block;
    }
    .navigation > ul.active a{
        color: #fff;
    }
    .banner-icon{
        margin-left: 10px;
    }
    .inner-nav li{
        padding: 0;
    }
    .inner-nav li a{
        display: block;
        text-align: center;
        padding: 15px 0;
    }
    .banner-top{
        padding: 30px 0 80px;
    }
    .banner-bottom>div{
        max-width: none;
    }
    .banner-bottom h2{
        text-align: center;
    }
    .banner-bottom p+div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .banner-bottom p{
        text-align: center;
    }
    .banner-bottom a{
        width: 50%;
    }
    #about h2{
        padding: 40px 0 26px;
    }
    .signature{
        margin-bottom: 40px;
    }
    .right_prof-skills{
        display: none;
    }
    .left_prof-skills{
        width: 100%;
        min-width: 100%;
        padding: 40px 0;
    }
    .left_prof-skills>h2{
        text-align: center;
    }
    .left_prof-skills p{
        padding-top: 28px;
    }
    #info .container{
        flex-wrap: wrap;
        padding: 30px 15px;
        justify-content: center;
    }
    #info .wrap-case{
        width: 50%;
        min-width: 50%;
        padding: 10px 0 10px 58px;
    }
    #info p:first-child{
        padding-bottom: 0;
    }
    #info p{
        font-size: 16px;
    }
}
@media(max-width: 480px){
    #about h2{
        padding: 30px 0 24px;
    }
    #about p{
        padding-bottom: 24px;
    }
    .signature{
        margin-bottom: 30px;
    }
    .left_prof-skills{
        padding: 30px 0;
    }
    .left_prof-skills p{
        padding-top: 24px;
    }
    #info .wrap-case{
        width: 100%;
        min-width: 100%;
    }
    #info .container{
        padding: 20px 15px;
    }
    .left_prof-skills>h2{
        padding-bottom: 24px;
    }
}